/*!
*
*
* FONTS IMPORT
*
*
*/

@import "vars";
@import "fonts";
/*!
*
*
* LIBS FILES
*
*
*/

@import "libs";
/*!
*
*
* END OF LIBS FILES
*
* MAIN.CSS START
*
*
*/

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

@keyframes bg-color {
  0% {
    background-color: papayawhip;
  }

  25% {
    background-color: cornflowerblue;
  }

  50% {
    background-color: azure;
  }

  75% {
    background-color: cornsilk;
  }

  100% {
    background-color: bisque;
  }
}

body {
  text-align: center;
  font-family: 'Arial', sans-serif;
//  background: linear-gradient(bisque, lightskyblue);
//  height: 100vh;
    animation-name: bg-color;
  animation-duration: 50s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}


#canvas {
  background-color: lightskyblue;
////  animation-name: bg-color;
//  animation-duration: 50s;
//  animation-timing-function: ease-in-out;
//  animation-iteration-count: infinite;
//  animation-play-state: paused;

}

@keyframes mymove {
  0% {
    top: 0%;
    right: 0%;
  }

  25% {
    right: calc(100% - 300px);
    top: 0%;
  }

  50% {
    top: calc(100% - 300px);
    right: calc(100% - 300px);

  }

  75% {
    top: calc(100% - 300px);
    right: 0%;
  }

  100% {
    top: 0%;
    right: 0%;
  }
}
.header {
//  display: inline-block;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
  background-color: lavenderblush;
  margin-bottom: 20px;
  padding: 20px;
}
.left, .right ,.cat {
  text-align: center;
  display: block;
  width: 200px;
}
.rect {
  width: 150px;
  height: 150px;
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}


#glCanvas {
  position: relative;
}
.cat {
}

/*!
*
*
* END OF MAIN.CSS
*
* MEDIA.CSS START
*
*
*/

@import "media"; // Always at the end
